name: Action Workflow

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@runicsyntax'
          always-auth: true

      - name: Install dependencies
        run: npm install

      - name: Typecheck
        run: npx tsc --noEmit

      - name: Run the test suite
        run: npm run test

      - name: Fix format with prettier
        run: npx prettier --write .

      - name: Check Prettier formatting
        run: npx prettier --check .

      - name: Run ESLint
        run: npx eslint .

      - name: Publish Package
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
